/* -------------------------------------------------------------------------- */
/*                           small to medium devices                          */
/* -------------------------------------------------------------------------- */
@include media(800px) {
  $height: 100vh;
  .img-yo {
    width: 400px;
    object-fit: cover;
  }
  .section {
    margin-top: 100px;
    height: $height;
  }
  .section-title {
    margin-top: 0;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 20px;
  }
  .article-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    object-fit: contain;
  }
}
