/* -------------------------------------------------------------------------- */
/*                             very small devices                             */
/* -------------------------------------------------------------------------- */

@include media(350px) {
  $height: 80vh;
  p {
    font-size: 12px;
  }
  .img-yo {
    width: 150px;
    object-fit: cover;
  }
  .section {
    margin-top: 100px;
    height: $height;
  }
  .section-title {
    margin-top: 0;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 20px;
  }
  .article-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: contain;
  }
}
